<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Edit Todo</title>
</head>
<body>
  <h1>Edit Task</h1>
  <form action="/update/<%= todo.id %>" method="POST">
    <input type="text" name="task" value="<%= todo.task %>" required />
    <button type="submit">Update</button>
  </form>
</body>
</html>
